
html, body {
    width: 100%; /* force la page à se mettre à la taille de l'iframe et enpêche le scroll */
    height: 100%;
    margin: 5px;
    font-family: Tahoma, serif;
    overflow: hidden;
}

h1 {
    font-family: "Courier New", serif;
}

p {
    font-family: serif;
    font-size: 14px;
}
