.frame-container {
    position: absolute;
    border: 5px solid #000;
}

.frame-header {
    cursor: move;
    /*TODO: Gradient color*/
    background-color: #4951ff;
    padding: 10px;
    z-index: 10;
}

.window-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.ctx-button {
    border: none;
    background-color: rgba(255,255,255,0.8);
}