body {
    background-image: url('../img/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #19a81d;
    overflow: hidden;
}

.frame-container {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.frame-header {
    display: flex;
    justify-content: space-between;
    width: auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(15, 72, 158, 1) 0%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 1);
    clip-path: inset(-10px -10px 0px -10px);
    align-items: flex-start;
    cursor: move;
    height: auto;
}

.window-name-header {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', serif;
    font-size: 18px;
    color: whitesmoke;
}

.window-frame {
    flex-grow: 1;
    background-color: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 1);
    clip-path: inset(0px -10px -10px -10px);
    border: none;
}

.ctx-button {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.ctx-button-span {
    margin: 5px;
}

#chat-frame {
    height: 300px;
}

#browser-frame {
    height: 500px;
}

#terminal-frame {
    height: 300px;
}

#timer-frame {
    height: 125px;
}

#manual-frame {
    height: 400px;
}