html, body {
    width: 100%; /* force la page à se mettre à la taille de l'iframe et enpêche le scroll */
    height: 100%;
    margin: 3px;

    background-color: black;
    color: white;

    font-family: Tahoma, serif;
    overflow: hidden;
}

p {
    font-family: consolas, serif;
    margin: 2px;
    font-size: 14px;
}

.green {
    color: lightgreen;
}

.red {
    color: red;
}

.lightblue {
    color: lightblue;
}

.blue {
    color: blue;
}

#terminal-box {
    display: flex;
    flex-direction: column;
}

#command-history {
    display: flex;
    flex-direction: column;
    width: 99%;
    max-width: 99%;
    max-height: 100vh;
    overflow-y: auto;
}

#command-input {
    border: none;
    color: white;
    font-family: consolas, serif;

    /*Add a caret for when it isn't focused for the user to see where he should type*/
    animation: blink-empty 0.5s infinite alternate-reverse;
    background: linear-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, 1)) no-repeat 1px center;
    background-size: 1px 1.2em;
}

#command-input:focus {
    outline: none;
    animation: none;
    background-image: none;
}

@keyframes blink-empty {
    from {
        background-image: linear-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, 1));
    }
    to {
        background-image: linear-gradient(rgb(255, 255, 255, 0), rgb(255, 255, 255, 0));
    }
}